/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --main-color: #FFF1F7;
  --additional-color: #353430;
  --accent-color: #353430;
  --title-color: #ffc2e6;
  --bg-image: url("../images/cover-image-light.png");
}

.theme_light .decor-element {
  display: none;
}

.theme_light .main-title, .theme_light .title-decor, .theme_light .text-link {
  --accent-color: #ff8dcb;
}

.theme_light .accent-text, .theme_light .section-content__subtitle {
  --main-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root .theme_auto {
    --main-color: #FFF1F7;
    --additional-color: #353430;
    --accent-color: #353430;
    --title-color: #ffc2e6;
    --bg-image: url("../images/cover-image-light.png");
  }

  .theme_auto .decor-element {
    display: none;
  }

  .theme_auto .main-title, .theme_auto .title-decor, .theme_auto .text-link {
    --accent-color: #ff8dcb;
  }

  .theme_auto .accent-text, .theme_auto .section-content__subtitle {
    --main-color: #353430;
  }
}
