/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-color: #000028;
  --additional-color: #F1B2CE;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --page-padding: 10px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-size: 1.125rem;
  --text-line-height: 1.3em;
  --bold-text: 700;
  --regular-text: 400;
  --title-line-height: 0.825em;
  --bg-image: url('../images/cover-image-dark.png');
  --section-margin: 3.125rem;
  --header-margin: 3.125rem;
}